.password-strength-container {
    margin-top: 5px;
  }
  
  .password-strength-bar {
    width: 70%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .password-strength-bar-fill {
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .password-strength-label {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  